# Text classification using naive bayes for sentiment analysis

Please note that this is just done to understand what libraries to use and to
get an understanding of the processes involved in text classification. We will 
have to adapt the model to classify sentences of reviews into various topics. 
The steps we take for our analysis are basically

1. Classify sentences into topics e.g. service, fees, registration
2. Classify sentences within each topic as positive or negative
3. Count positive/negative within each topic
4. Perform linear/multi-linear regression between pos/neg in each topic, and
the rating associated the text that sentence belongs to.

[Tutorial](https://www.youtube.com/watch?v=oq68P8Kv7nE)

In [51]:
import numpy as np
import pandas as pd
import nltk #! Must download nltk punkt
from nltk import word_tokenize # ALternatively use nlp() parser from spacy

In [52]:
# b - business, t - tech, e - entertainment.
df = pd.read_csv("sentiment.csv").loc[:, ["TITLE", "CATEGORY"]]
df.head()

                                               TITLE CATEGORY
0  Fed official says weak data caused by weather,...        b
1  Fed's Charles Plosser sees high bar for change...        b
2  US open: Stocks fall after Fed official hints ...        b
3  Fed risks falling 'behind the curve', Charles ...        b
4  Fed's Plosser: Nasty Weather Has Curbed Job Gr...        b

In [53]:
df["CATEGORY"].value_counts()

e    32
t    22
b    11
Name: CATEGORY, dtype: int64

In [54]:
# Alt: Use Spacy nlp() to create tokens automatically (with lemmatization)
data = "Pifort Technologies is a Software Development company. Piford also provides a training program."
print(word_tokenize(data))

['Pifort', 'Technologies', 'is', 'a', 'Software', 'Development', 'company', '.', 'Piford', 'also', 'provides', 'a', 'training', 'program', '.']

In [55]:
# Remove punctuation from token list () alternatively use token.lemma_ in nlp()
import string
data_1 = [char for char in data if char not in string.punctuation]
print(data_1)

['P', 'i', 'f', 'o', 'r', 't', ' ', 'T', 'e', 'c', 'h', 'n', 'o', 'l', 'o', 'g', 'i', 'e', 's', ' ', 'i', 's', ' ', 'a', ' ', 'S', 'o', 'f', 't', 'w', 'a', 'r', 'e', ' ', 'D', 'e', 'v', 'e', 'l', 'o', 'p', 'm', 'e', 'n', 't', ' ', 'c', 'o', 'm', 'p', 'a', 'n', 'y', ' ', 'P', 'i', 'f', 'o', 'r', 'd', ' ', 'a', 'l', 's', 'o', ' ', 'p', 'r', 'o', 'v', 'i', 'd', 'e', 's', ' ', 'a', ' ', 't', 'r', 'a', 'i', 'n', 'i', 'n', 'g', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm']

In [56]:
data_1 = "".join(data_1)
print(data_1)

Pifort Technologies is a Software Development company Piford also provides a training program

In [57]:
data_1 = data_1.split()
print(data_1)

['Pifort', 'Technologies', 'is', 'a', 'Software', 'Development', 'company', 'Piford', 'also', 'provides', 'a', 'training', 'program']

In [58]:
# delete all stop words from our data
from nltk.corpus import stopwords
data_1 = [word for word in data_1 if word not in stopwords.words("english")];
print(data_1)

['Pifort', 'Technologies', 'Software', 'Development', 'company', 'Piford', 'also', 'provides', 'training', 'program']

In [59]:
# Feature extraction Convert words into feature vectors (bag of words variation
# called the count vectoriser)
from sklearn.feature_extraction.text import CountVectorizer

vectoriser = CountVectorizer()
vectoriser.fit(data_1)
print(vectoriser.vocabulary_) # Shows the numeric value/index assigned to word

{'pifort': 4, 'technologies': 8, 'software': 7, 'development': 2, 'company': 1, 'piford': 3, 'also': 0, 'provides': 6, 'training': 9, 'program': 5}

In [60]:
# Get bag of words count (index in document list, index index of word, frequency of word)
data_1 = [" ".join(data_1)]
vector = vectoriser.transform(data_1)
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	1
  (0, 8)	1
  (0, 9)	1

## Analysing for real

In [64]:
# Text cleaning function we want ot apply to each document
def text_cleaning(a):
    remove_punctuation = [char for char in a if char not in string.punctuation]
    remove_punctuation = "".join(remove_punctuation)
    return [word for word in remove_punctuation.split() if word.lower() not in stopwords.words("english")]

In [65]:
# Apply text clearning function to every element in series/column
print(df.loc[:, "TITLE"].apply(text_cleaning))

0     [Fed, official, says, weak, data, caused, weat...
1     [Feds, Charles, Plosser, sees, high, bar, chan...
2     [US, open, Stocks, fall, Fed, official, hints,...
3     [Fed, risks, falling, behind, curve, Charles, ...
4     [Feds, Plosser, Nasty, Weather, Curbed, Job, G...
                            ...
60    [GM, recalls, another, 24M, vehicles, belts, b...
61    [Business, update, Parade, GM, recalls, rolls,...
62                     [GM, keeps, recalling, vehicles]
63                                        [GM, recalls]
64                     [10, largest, GM, recalls, year]
Name: TITLE, Length: 65, dtype: object

In [72]:
# Get the vectoriser to learn the dictionary from the title series
#NB: analyzer=text_clearning basically applies the function to each row in series
bow_transformer = CountVectorizer(analyzer=text_cleaning).fit(df["TITLE"])
bow_transformer.vocabulary_

{'Fed': 61,
 'official': 202,
 'says': 221,
 'weak': 243,
 'data': 171,
 'caused': 167,
 'weather': 244,
 'slow': 224,
 'taper': 229,
 'Feds': 62,
 'Charles': 38,
 'Plosser': 109,
 'sees': 222,
 'high': 183,
 'bar': 160,
 'change': 168,
 'pace': 205,
 'tapering': 230,
 'US': 141,
 'open': 203,
 'Stocks': 131,
 'fall': 176,
 'hints': 184,
 'accelerated': 155,
 'risks': 219,
 'falling': 177,
 'behind': 162,
 'curve': 170,
 'Nasty': 96,
 'Weather': 147,
 'Curbed': 45,
 'Job': 81,
 'Growth': 73,
 'May': 86,
 'Accelerate': 18,
 'Tapering': 136,
 'Pace': 104,
 'Taper': 135,
 'may': 195,
 'expects': 175,
 'unemployment': 236,
 '62': 14,
 'end': 174,
 '2014': 4,
 'jobs': 190,
 'growth': 182,
 'last': 193,
 'month': 197,
 'hit': 185,
 'weatherFed': 245,
 'President': 113,
 'ECB': 54,
 'unlikely': 237,
 'sterilisation': 225,
 'SMP': 121,
 'purchases': 207,
 'traders': 235,
 'sterilization': 226,
 'Box': 32,
 'Office': 102,
 'XMen': 153,
 'Days': 50,
 'Future': 68,
 'Past': 106,
 'Nabs': 95,
 '261M': 11,
 'Worldwide': 150,
 'Debut': 51,
 'Mania': 85,
 'Report': 119,
 'FUTURE': 59,
 'RULES': 115,
 'Believe': 24,
 'Christian': 41,
 'theme': 231,
 'Review': 120,
 '–': 251,
 'Sequel': 124,
 'Prequel': 112,
 'Reboot': 116,
 'Numbers': 99,
 'Slay': 127,
 'Godzilla': 72,
 '7': 15,
 'hours': 187,
 'ago': 157,
 'dominates': 173,
 'holiday': 186,
 'box': 166,
 'office': 201,
 '91M': 17,
 'Memorial': 87,
 'Day': 49,
 'weekend': 246,
 'movie': 198,
 '“Days': 252,
 'XMen”': 154,
 'beat': 161,
 'record': 214,
 '1': 1,
 'million': 196,
 'views': 242,
 'global': 181,
 'rakes': 208,
 'Film': 63,
 'reviews': 217,
 'Bryan': 35,
 'Singers': 126,
 '“XMen': 254,
 'Past”': 107,
 'returns': 216,
 'familiar': 178,
 'franchise': 179,
 'themes': 232,
 'rise': 218,
 'reaching': 209,
 'top': 233,
 'Weekend': 148,
 'Wrap': 151,
 '25th': 9,
 'KWWL': 82,
 'Eastern': 55,
 'Iowa': 80,
 'Breaking': 34,
 'movies': 199,
 'takes': 228,
 'records': 215,
 'Sets': 125,
 'Franchise': 65,
 'Best': 25,
 '262': 12,
 'Mil': 88,
 'PreOrder': 111,
 'XMEN': 152,
 'DAYS': 46,
 'PAST': 103,
 'Bluray': 28,
 'Score': 122,
 '91': 16,
 'debut': 172,
 'Blended': 27,
 'Moves': 93,
 'Thats': 138,
 'Boy': 33,
 'Wins': 149,
 'Foxs': 64,
 'Topples': 139,
 'VIDEO': 145,
 'Gang': 70,
 'Towers': 140,
 'N': 94,
 'America': 21,
 'Holiday': 77,
 'Colossal': 43,
 'opening': 204,
 'Extinction': 58,
 'TV': 134,
 'Spot': 130,
 'Released': 118,
 'INTL': 79,
 'BOX': 23,
 'OFFICE': 100,
 'FanTastic': 60,
 'Bows': 31,
 '…': 255,
 'Dominates': 53,
 'Million': 89,
 '3': 13,
 'reasons': 210,
 'best': 164,
 'yet': 250,
 'gang': 180,
 'towers': 234,
 'North': 98,
 'Slays': 128,
 'Bombs': 30,
 'DOFP': 47,
 'Unnuked': 142,
 'Fridge': 66,
 '“Unnuked': 253,
 'Fridge”': 67,
 'IBM': 78,
 'make': 194,
 'big': 165,
 'accessible': 156,
 'users': 239,
 'via': 241,
 'cloud': 169,
 'Bolsters': 29,
 'Storage': 132,
 'Play': 108,
 'Ups': 144,
 'x86': 248,
 'Hardware': 75,
 'Portfolio': 110,
 'shell': 223,
 'infrastructure': 188,
 'study': 227,
 'Cheap': 40,
 'Chart': 39,
 'Cloud': 42,
 'Exposure': 57,
 'Concerning': 44,
 'Launches': 84,
 'New': 97,
 'Systems': 133,
 'Offerings': 101,
 'Big': 26,
 'Data': 48,
 'Unveils': 143,
 'Software': 129,
 'Defined': 52,
 'Era': 56,
 'Technology': 137,
 'GM': 69,
 'recalls': 213,
 'another': 158,
 '24': 5,
 'belts': 163,
 'bags': 159,
 'Parade': 105,
 'rolls': 220,
 'vehicles': 240,
 '0': 0,
 'Minutes': 90,
 'Ago': 20,
 '24M': 7,
 'Recalls': 117,
 'Another': 22,
 '26': 10,
 'Vehicles': 146,
 'issues': 189,
 'new': 200,
 'recall': 211,
 '242': 6,
 'Mln': 91,
 'Sees': 123,
 'Addl': 19,
 'Q2': 114,
 'Charge': 37,
 '200': 3,
 'Hit': 76,
 'Lansing': 83,
 'Hard': 74,
 'General': 71,
 'Motors': 92,
 'parade': 206,
 '259': 8,
 'worldwide': 247,
 'Business': 36,
 'update': 238,
 'keeps': 191,
 'recalling': 212,
 '10': 2,
 'largest': 192,
 'year': 249}

In [73]:
title_bow = bow_transformer.transform(df["TITLE"])
print(title_bow)

  (0, 61)	1
  (0, 167)	1
  (0, 171)	1
  (0, 202)	1
  (0, 221)	1
  (0, 224)	1
  (0, 229)	1
  (0, 243)	1
  (0, 244)	1
  (1, 38)	1
  (1, 62)	1
  (1, 109)	1
  (1, 160)	1
  (1, 168)	1
  (1, 183)	1
  (1, 205)	1
  (1, 222)	1
  (1, 230)	1
  (2, 61)	1
  (2, 131)	1
  (2, 141)	1
  (2, 155)	1
  (2, 176)	1
  (2, 184)	1
  (2, 202)	1
  :	:
  (60, 69)	1
  (60, 158)	1
  (60, 159)	1
  (60, 163)	1
  (60, 213)	1
  (60, 240)	1
  (61, 7)	1
  (61, 36)	1
  (61, 69)	1
  (61, 105)	1
  (61, 213)	1
  (61, 220)	1
  (61, 238)	1
  (61, 240)	1
  (62, 69)	1
  (62, 191)	1
  (62, 212)	1
  (62, 240)	1
  (63, 69)	1
  (63, 213)	1
  (64, 2)	1
  (64, 69)	1
  (64, 192)	1
  (64, 213)	1
  (64, 249)	1

In [77]:
# Use TF-IDF to remove insignificant words i.e. ones appear in too many docs or rarely occurs
# NB: Gensim also has own tfidf model for extraction
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(title_bow)
print(tfidf_transformer)

title_tfidf = tfidf_transformer.transform(title_bow)
print(title_tfidf)
print(title_tfidf.shape)

# TODO: Use Tfidf to remove unimportant words that are used for bayes classification
# Prevents overfitting?

TfidfTransformer()
  (0, 244)	0.35477264027465666
  (0, 243)	0.35477264027465666
  (0, 229)	0.35477264027465666
  (0, 224)	0.32278160612728646
  (0, 221)	0.32278160612728646
  (0, 202)	0.32278160612728646
  (0, 171)	0.32278160612728646
  (0, 167)	0.35477264027465666
  (0, 61)	0.28247766961965964
  (1, 230)	0.33258913256553785
  (1, 222)	0.36555219519046506
  (1, 205)	0.33258913256553785
  (1, 183)	0.36555219519046506
  (1, 168)	0.36555219519046506
  (1, 160)	0.36555219519046506
  (1, 109)	0.2528507396807884
  (1, 62)	0.29106058500399523
  (1, 38)	0.30920146743562676
  (2, 230)	0.3250877985152921
  (2, 203)	0.35730740045597703
  (2, 202)	0.3250877985152921
  (2, 184)	0.35730740045597703
  (2, 176)	0.3250877985152921
  (2, 155)	0.35730740045597703
  (2, 141)	0.3022276271355269
  :	:
  (60, 213)	0.30863342900757507
  (60, 163)	0.4373404919478541
  (60, 159)	0.4373404919478541
  (60, 158)	0.4373404919478541
  (60, 69)	0.2652884107464841
  (60, 7)	0.4065867120677751
  (61, 240)	0.28172913688096773
  (61, 238)	0.4387830389527568
  (61, 220)	0.3493685708572416
  (61, 213)	0.28172913688096773
  (61, 105)	0.37114360497648297
  (61, 69)	0.2421626044348431
  (61, 36)	0.4387830389527568
  (61, 7)	0.37114360497648297
  (62, 240)	0.38953790395898696
  (62, 212)	0.6066913318895633
  (62, 191)	0.6066913318895633
  (62, 69)	0.33483051981468887
  (63, 213)	0.7583507846117991
  (63, 69)	0.651846674823665
  (64, 249)	0.5186960446684721
  (64, 213)	0.3330388278379976
  (64, 192)	0.5186960446684721
  (64, 69)	0.2862662727045223
  (64, 2)	0.5186960446684721
(65, 256)

In [84]:
# Perform multinomial bayes i.e. fit essentially returns classifier
# From bag of words (creates histogram) and lables df["CATEGORY"]
#! But why did we need TFIDF? Couldn't we just have used normal bow?
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(title_bow, df["CATEGORY"])

In [85]:
# Make predictions
all_predictions = model.predict(title_tfidf)
print(all_predictions)

['b' 'b' 'b' 'b' 'b' 'b' 'b' 'b' 'b' 'b' 'b' 'e' 'e' 'e' 'e' 'e' 'e' 'e'
 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e' 'e'
 'e' 'e' 'e' 'e' 'e' 'e' 'e' 't' 't' 't' 't' 't' 't' 't' 't' 't' 't' 't'
 't' 't' 't' 't' 't' 't' 't' 't' 't' 't' 't']

In [86]:
# See the confusion matrix of prediction
from sklearn.metrics import confusion_matrix
confusion_matrix(df["CATEGORY"], all_predictions)

# Understanding result
# i.e. 11 in (0,0) means actual group 0 items predicted in cat 0 is 11

array([[11,  0,  0],
       [ 0, 32,  0],
       [ 0,  0, 22]])